.characters {
    padding-top: 64px;
    padding-bottom: 64px;
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        &__item {
            overflow: visible;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 16px;
            &__wrapper {
                gap: 10px;
                padding: 8px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                &__div{
                    color: #fff;
                    border-radius:  20px;
                    width: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: transform 1s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                    }
                    &--icon {
                    margin-top: 32px;
                    width: 200px;
                    border-radius: 100%;
                    }
                    &--title {
                        margin-top: 8px;
                    }
                }
            }
            &__desc {
                &__div {
                    margin-top: 32px;
                    border-radius: 16px;
                    background-color: rgb(255, 255, 255);
                    padding: 16px 16px;
                    display: flex;
                    flex-direction: column-reverse;
                    color: #000;
                    align-items: center;
                    justify-content: center;
                    &--desc {
                    padding: 8px 8px;
                    width: 720px;
                    font-size: 1.4vw;
                    padding-top: 16px;
                    }
                    &--img {
                        border-radius: 16px;
                        width: 720px;
                    }
                }
            }
        }
    }
}

.hide {
    display: none
}

.active--2 {
    img {
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
        padding: 8px;
    }
}